[Desktop Entry]
Name=Obsidian
Comment=Obsidian — A second brain, for you, forever.
Exec=obsidian --no-sandbox %U
TryExec=obsidian
Type=Application
Terminal=false
Icon=obsidian
Categories=Office;Productivity;
MimeType=x-scheme-handler/obsidian;