favorites=devin.desktop,firefox.desktop,chromium.desktop,xfce4-terminal.desktop,thunar.desktop,claude-code.desktop,opencode.desktop,antigravity.desktop,libreoffice-writer.desktop
recent=
button-title=Menu
button-icon=start-here
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=false
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
position-categories-horizontal=false
menu-width=500
menu-height=600
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=alacarte
show-command-menueditor=true
